@model List<Feedback>
@inject IHttpContextAccessor HttpContextAccessor
@{ ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml"; }

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <a class="btn btn-primary mb-3" asp-area="Admin" asp-controller="Feedback" asp-action="Create">Create</a>
        </div>

        <div class="col-lg-12">
            @if (HttpContextAccessor.HttpContext.Session.GetString("NullIdError") != null)
             {
                <div class="alert alert-danger">
                    @HttpContextAccessor.HttpContext.Session.GetString("NullIdError")
                </div>HttpContextAccessor.HttpContext.Session.Remove("NullIdError");
             }

            @if (HttpContextAccessor.HttpContext.Session.GetString("NullDataError") != null)
             {
                <div class="alert alert-danger">
                    @HttpContextAccessor.HttpContext.Session.GetString("NullDataError")
                </div>HttpContextAccessor.HttpContext.Session.Remove("NullDataError");
             }
        </div>
        <hr />
        <div class="col-lg-12 mt-3">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Image</th>
                        <th scope="col">Name</th>
                        <th scope="col">Content</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @{ int i = 0;
                        foreach (var feedback in Model)
                        {
                            i++;
                            <tr>
                                <th scope="row">@i</th>
                                    <td><img src="~/Uploads/@feedback.ClientImage" alt="Alternate Text" style="width: 150px" /></td>
                                    <td>@feedback.Name</td>
                                    <td>@(feedback.Content!=null && feedback.Content.Length>150? feedback.Content.Substring(0,150)+ "...": feedback.Content)</td>
                                    <td>
                                         <a asp-area="Admin" asp-controller="Feedback" asp-action="Update" asp-route-id="@feedback.Id" class="btn btn-success">Update</a>
                                         <a asp-area="Admin" asp-controller="Feedback" asp-action="Delete" asp-route-id="@feedback.Id" onclick="return confirm('Are you sure')" class="btn btn-danger">Delete</a>

                                    </td>
                            </tr>
                        }
                     }

                </tbody>
            </table>
        </div>
    </div>
</div>



